
.containerTable{
    background-color: aqua;
}

.headHiden{
    /*display: none;*/

}

.headHiddenDetalle{
    /*display: none;*/
   
}

.headHiddenTotal{
    /*display: none;*/
   
}

.headHiddenNit{
    /*display: none;*/
   
}

.headHiddenCliente{
    /*display: none;*/

}
.headHiddenFecha{
    /*display: none;*/

}
.headHiddenFactura{
    /*display: none;*/

}

.headHiddenNumero{
    /*display: none;*/

}
/*Controllin collapse  colums*/
@media (max-width: 1000px) {
    .headHiddenDetalle{
        display: none;
     
    }   
}
@media (max-width: 750px) {
    .headHiddenTotal{
        display: none;
     
    }   
}
@media (max-width: 700px) {
    .headHiddenNit{
        display: none;
     
    }   
}
@media (max-width: 680px) {
    .headHiddenCliente{
        display: none;
     
    }   
}

@media (max-width: 655px) {
    .headHiddenFecha{
        display: none;
     
    }   
}
@media (max-width: 480px) {
    .headHiddenFactura{
        display: none;
     
    }   
}
@media (max-width: 400px) {
    .headHiddenNumero{
        display: none;
     
    }   
}
/* Mobile and Tablet */
@media (max-width: 620px) {
    .headHiden{
        display: none;
     
    }   
}