
.containerTable{
    background-color: aqua;
}

.headHiden{
    /*display: none;*/

}

.headHiddenDetalle4{
    /*display: none;*/
}

.headHiddenDetalle3{
    /*display: none;*/
}

.headHiddenDetalle2{
    /*display: none;*/
   
}

.headHiddenDetalle{
    /*display: none;*/
   
}

.headHiddenTotal{
    /*display: none;*/
   
}

.headHiddenNit{
    /*display: none;*/
   
}

.headHiddenCliente{
    /*display: none;*/

}
.headHiddenFecha{
    /*display: none;*/

}
.headHiddenFactura{
    /*display: none;*/

}

.headHiddenNumero{
    /*display: none;*/

}
/*Controllin collapse  colums*/
@media (max-width: 1500px){
    .headHiddenDetalle7{
        display: none;
    }
}
@media (max-width: 1700px){
    .headHiddenDetalle6{
        display: none;
    }
}
@media (max-width: 1110px){
    .headHiddenDetalle5{
        display: none;
    }
}
@media (max-width: 1090px) {
    .headHiddenDetalle4{
        display: none;
    }
}
@media (max-width: 1070px){
    .headHiddenDetalle3{
        display: none;
    }
}
@media (max-width: 1050px) {
    .headHiddenDetalle2{
        display: none;
     
    }   
}
@media (max-width: 1000px) {
    .headHiddenDetalle{
        display: none;
     
    }   
}
@media (max-width: 750px) {
    .headHiddenTotal{
        display: none;
     
    }   
}
@media (max-width: 700px) {
    .headHiddenNit{
        display: none;
     
    }   
}
@media (max-width: 680px) {
    .headHiddenCliente{
        display: none;
     
    }   
}

@media (max-width: 655px) {
    .headHiddenFecha{
        display: none;
     
    }   
}
@media (max-width: 480px) {
    .headHiddenFactura{
        display: none;
     
    }   
}
@media (max-width: 400px) {
    .headHiddenNumero{
        display: none;
     
    }   
}
/* Mobile and Tablet */
@media (max-width: 620px) {
    .headHiden{
        display: none;
     
    }   
}